#charts {
	display: flex;
	flex-wrap: wrap;
}

#charts > * {
	width: 100%;
}
@media only screen and (min-width: 992px) {
	#charts > * {
		width: 33%;
	}
}

span.best {
	font-weight: bold;
}

#text {
	border: 1px solid;
}

#text .contents {
	width: 100%;
	margin: 1em;
	padding: 1em;
	min-height: 5em;
	font-family: sans-serif;
}
