$primary-color: #D01010

#passage
	display: inline-block
	border: 1px solid
	padding: 1em
	white-space: pre-wrap
	text-align: left
	font-style: italic

%bordered
	border: 1px solid
	border-collapse: collapse

table
	@extend %bordered

th, td
	@extend %bordered
	padding: 0.5em

	&.numerical
		text-align: right

td.best-stat::before
	content: "✪ "
	color: $primary-color

rect
	stroke: black

#keyboards
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center

	keyboard
		display: flex
		flex-direction: column
		margin: 10px
		position: relative
		text-align: left
		$title-fontsize: 24px
		$title-height: $title-fontsize * 1.2

		svg
			background-color: lightgray

		.title
			color: $primary-color
			font-size: $title-fontsize
			line-height: $title-height

		.content
			display: none
			align-items: center
			justify-content: center
			font-size: 2em
			background-color: rgba(0, 0, 100, 0.25)

			&:hover
				background-color: rgba(0, 0, 100, 0.35)


			&#create-keyboard-button
				display: flex
				flex-grow: 1
				padding: 0.25em

		.curtain
			position: absolute
			top: $title-height
			bottom: 0px
			left: 0px
			right: 0px
			a
				background-color: white

		&.in-edit .content
			display: flex

		#create-keyboard-button select
			font-size: inherit
			border: none

#stats
	display: inline-block

.hidden
	display: none !important

#signature
	border-top: 1px solid
	padding-top: 0.2em
	text-align: center
	font-size: 0.7em

.interactive
	cursor: pointer
	color: $primary-color
